<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--Notify库_读-->
  <add name="Notify_SELECT" connectionString="******"	providerName="MySql.Data.MySqlClient" />
  <!--Notify库_写-->
  <add name="Notify_CMD" connectionString="******"	providerName="MySql.Data.MySqlClient" />
</connectionStrings>